<div>

  <ng-template #customItemTemplate let-model="item" let-index="index">
    <img [src]=getImageUrl(model) style="width: 16px; margin-right: 20px;">
    {{getThePureString(model)}}
  </ng-template>

  <span *ngIf="useCustomTemplate">
    <input [(ngModel)]=selectedItem [ngStyle]="inputStyle" [typeaheadOptionsInScrollableView]="maxNumberOfProposals"
           [typeahead]="items" [typeaheadScrollable]="true" (typeaheadOnSelect)="onItemSelected($event)"
           class="form-control" placeholder="{{placeHolder}}" (click)="onInputClicked()"
           [typeaheadItemTemplate]="customItemTemplate" (blur)="onInputLeft()">
  </span>

  <span *ngIf="!useCustomTemplate">
    <input [(ngModel)]="selectedItem" [ngStyle]="inputStyle" [typeaheadOptionsInScrollableView]="maxNumberOfProposals"
           [typeahead]="items" [typeaheadScrollable]="true" (typeaheadOnSelect)="onItemSelected($event)"
           class="form-control" placeholder="{{placeHolder}}" (click)="onInputClicked()" (blur)="onInputLeft()">
  </span>



</div>
