<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav" id="myTopnav">
  <span (click)="clickTitle()">
    <img class="logo" src="{{navBarData.logoURL}}" alt="">
    <a class="ellipsis navbarTitle" style="font-size: 20.6px; text-align: center">
      {{navBarData.appTitle}}</a>
  </span>
  <span *ngFor="let item of navBarData.menuEntries">
    <a id="{{item.href}}" style="font-size: 20.6px;" class="hide" [ngClass]="{active: item.isActive}"
      (click)="clickEntry(item.href)">{{item.text}}</a>
  </span>
  <a class="icon" (click)="myFunction()" style="font-size:24px">
    <i id="burgerMenu" class="fa fa-bars" style="color: rgb(213, 54, 84);"></i>
  </a>
</div>
